* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: radial-gradient(circle at top, #111827, #020617);
  color: #fff;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo {
  font-weight: 800;
  font-size: 1.2rem;
}

.logo span {
  color: #6366f1;
}

/* HERO */
.hero {
  min-height: 100vh;
  padding: 60px 20px;
  text-align: center;
}

.badge {
  display: inline-block;
  background: #1f2933;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2;
}

.green {
  color: #22c55e;
}

.purple {
  background: linear-gradient(90deg, #6366f1, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  margin-top: 20px;
  color: #9ca3af;
  font-family: monospace;
}

.desc {
  margin: 20px auto;
  max-width: 600px;
  color: #cbd5f5;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 26px;
  border-radius: 14px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.primary {
  background: linear-gradient(90deg, #6366f1, #a855f7);
  color: #fff;
}

.secondary {
  background: #1f2933;
  color: #fff;
}

.btn:hover {
  transform: scale(1.05);
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

/* PROJECTS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 25px;
  width: 260px;
  border-radius: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  border-color: #6366f1;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #64748b;
}
