* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0b0f;
  color: #ffffff;
  line-height: 1.6;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gradient-text {
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(90deg, #7f5cff, #00f2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: #aaa;
  margin: 15px 0;
}

.btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: linear-gradient(90deg, #7f5cff, #00f2ff);
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
}

/* SECTIONS */
.section {
  padding: 80px 15%;
  text-align: center;
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section p {
  color: #bbb;
  max-width: 800px;
  margin: auto;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.skills span {
  background: #151520;
  padding: 10px 20px;
  border-radius: 20px;
}

/* PROJECTS */
.projects {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #151520;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #666;
}
