
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f0f0f;
  color: #ffffff;
  line-height: 1.6;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #6a00ff, #ff006a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero h1 span {
  color: #00ffea;
}

.hero p {
  margin: 15px 0;
}

.btn {
  padding: 10px 25px;
  background: #00ffea;
  color: #000;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  text-align: center;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #00ffea;
}

.skill-box span {
  display: inline-block;
  background: #1f1f1f;
  padding: 10px 15px;
  margin: 8px;
  border-radius: 20px;
}

.project {
  background: #1a1a1a;
  padding: 20px;
  margin: 15px auto;
  max-width: 500px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background: #000;
  padding: 15px;
  text-align: center;
  font-size: 0.9rem;
}
