* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0b0b0b;
  color: white;
  text-align: center;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rgb-text {
  font-size: 3.5rem;
  background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
  background-size: 400%;
  -webkit-background-clip: text;
  color: transparent;
  animation: rgb 6s infinite linear;
}

@keyframes rgb {
  0% { background-position: 0%; }
  100% { background-position: 400%; }
}

.typing {
  margin: 15px 0;
  font-size: 1.2rem;
  color: #aaa;
}

.btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: #00ffd5;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: white;
}

/* SECTIONS */
section {
  padding: 70px 20px;
}

h2 {
  margin-bottom: 20px;
  color: #00ffd5;
}

.skills span {
  display: inline-block;
  background: #1a1a1a;
  padding: 10px 18px;
  margin: 8px;
  border-radius: 20px;
  transition: 0.3s;
}

.skills span:hover {
  background: #00ffd5;
  color: black;
}

.card {
  background: #151515;
  padding: 20px;
  margin: 15px auto;
  max-width: 500px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* FOOTER */
footer {
  padding: 20px;
  background: #000;
  font-size: 0.9rem;
}
